<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Qanelas-Black.otf</string>
		<string>Qanelas-BlackItalic.otf</string>
		<string>Qanelas-Bold.otf</string>
		<string>Qanelas-BoldItalic.otf</string>
		<string>Qanelas-ExtraBold.otf</string>
		<string>Qanelas-ExtraBoldItalic.otf</string>
		<string>Qanelas-Heavy.otf</string>
		<string>Qanelas-HeavyItalic.otf</string>
		<string>Qanelas-Light.otf</string>
		<string>Qanelas-LightItalic.otf</string>
		<string>Qanelas-Medium.otf</string>
		<string>Qanelas-MediumItalic.otf</string>
		<string>Qanelas-Regular.otf</string>
		<string>Qanelas-RegularItalic.otf</string>
		<string>Qanelas-SemiBold.otf</string>
		<string>Qanelas-SemiBoldItalic.otf</string>
		<string>Qanelas-Thin.otf</string>
		<string>Qanelas-ThinItalic.otf</string>
		<string>Qanelas-UltraLight.otf</string>
		<string>Qanelas-UltraLightItalic.otf</string>
	</array>
</dict>
</plist>
